fastapi
uvicorn
sqlalchemy
psycopg2
pydantic
pathvalidate
aiofiles
aiohttp
asyncpg
pytest
pytest-dependency
python-multipart
passlib
aiocache[redis]
redis
docker
email-validator
jwcrypto
websocket-client
bcrypt