fastapi
uvicorn
sqlalchemy
psycopg2
pydantic
pathvalidate
aiofiles
aiohttp
asyncpg
pytest
pytest-dependency
pytest-cov
python-multipart
passlib
aiocache[redis]
redis
docker
email-validator
jwcrypto
websockets
simple-websocket
websocket-client
bcrypt
y_py